body {
  line-height: 1.5 !important;
  @extend .font-family-open_sans;
}

*,
*:before,
*:after {
  box-sizing: border-box !important;
}

ul, li {
  list-style: none !important;
}

a {
  text-decoration: none !important;
}

ul {
  margin: 0 !important;
  padding: 0 !important;
}