<div class="subscribe-lg d-flex align-items-center py-4">
  <div class="container">
    <h3 class="h3 mb-3">Subscribe for Exclusive Offer</h3>
    <div class="input-group mb-3 font-size-16">
      <input type="text" class="form-control p-3" placeholder="Your email address" aria-label="Your email address" aria-describedby="button">
      <div class="input-group-append">
        <button class="btn btn-primary p-3" type="button" id="button">SUBSCRIBE</button>
      </div>
    </div>  
  </div>
</div>