.img-replaced-text {
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}

.object-fit-cover {
  object-fit: cover;
}

.object-position-center {
  object-position: center center;
}

.background-size-cover {
  background-size: cover;
}

.background-image-position-center {
  background-position: center center;
}