.banner {
  margin-bottom: 312px;
  @include lg {
    margin-bottom: 120px;
  }
}

.slide-img {
  object-fit: cover;
  object-position: center 60%;
  width: 100%;
  height: 315px;
  @include md {
    height: 320px;
  }
}

.slide-text {
  z-index: 2;
}

.search-bar {
  top: 264px;
  left: 0;
  right: 0;
  z-index: 2;
  .search-btn {
    width: 100%;
  }
  @include lg {
    bottom: -50px;
    .search-btn {
      width: unset;
    }
  }
}

.card {
  img {
    height: 175px;
  }
}

.nav {
  .nav-item .nav-link {
    border-color: $gray-300 !important;
    color: $gray-600 !important;
    &.active {
      border-color: $primary !important;
      color: $primary !important;
    }
  }
}

.list {
  overflow-x: auto;
}

.destination {
  height: 78px;
  .region {
    background-color: rgba(0, 0, 0, 0.5);
    line-height: 1;
  }
}