.irs--round {
  .irs-bar, .irs-to, .irs-from, .irs-single {
    background-color: $primary;
    &::before {
      border-top-color: $primary;
    }
  }
  .irs-handle, .irs-handle:hover, .irs-handle.state_hover {
    border: 4px solid $primary;
    background-color: $primary;
  }
}