.subscribe-lg { 
  background-color: $secondary;
  @include md {
    padding-top: 92px;
    padding-bottom: 92px;
  }
  .h3 {
    @extend .text-md-4xl;
  }
  text-align: center;
  
  .form-control {
    height: unset !important;
  }
}